{{!
  RUNNING
  FINISHED
  ERROR
  CANCELING
  CANCEL
  RESTARTING
}}

{{! NEW }}
<p class="body">
{{#if job.isNew}}
  Your job has been created. To start running the job, you must provide an authorization code below.
  If you need a code, please contact the {{share-group-contact job.shareGroup}} group.
{{else if job.isAuthorized}}
  Your job has been authorized to run. The job will run on a virtual machine in our infrastructure. The virtual machine will stage your data in, run the workflow, and upload the results to Duke Data Service.
  You can start the job by clicking <strong>Start</strong>.
{{else if job.isStarting}}
  Your job has been queued and will begin running once resources are available.
{{else if job.isRunning}}
  Your job is currently running. You will receive an email notification when it completes or in the event of an error.
  {{!-- show details about current state --}}
{{else if job.isFinished}}
    Your job has completed. Results are available here: {{job-status-results job}}.
{{else if job.isErrored}}
{{!-- show details about current state --}}
    Your job failed to complete due to an error:
  {{job-error job.lastJobError}}
{{else if job.isCanceling}}
  Your request to cancel the job has been received and the job will be canceled.
{{else if job.isCanceled}}
  Your job has been canceled.
  You can restart the job by clicking <strong>Restart</strong>.
{{else if job.isRestarting}}
    Your request to restart the job has been received.
    The job will restart once resources are available.
{{/if}}
</p>
{{!-- cancelling, cancelled --}}