<td class="job-detail-cell-selected">{{job.selected}}</td>
<td class="job-detail-cell-id">{{#link-to "jobs.show" job class="job-show-link"}}{{job.id}}{{/link-to}}</td>
<td class="job-detail-cell-name">{{job.name}}</td>
<td class="job-detail-cell-workflow-name">{{job.workflowVersion.workflow.name}}</td>
<td class="job-detail-cell-status">{{decode-job-state job.state}}</td>
<td class="job-detail-cell-created">{{job.created}}</td>
<td class="job-detail-cell-updated">{{job.lastUpdated}}</td>
<td class="job-detail-cell-results">{{#if job.isFinished}}<a class="job-results-link" href="{{output-dir-link job.outputDir}}">Results</a>{{/if}}</td>
{{yield}}
