<article class="project-detail-row panel panel-default" {{action "pick" on="click"}}>
  <div class="panel-heading">
    <div class="panel-title">
      <span class="project-name">{{project.name}}</span>
      <span class="pull-right">
      {{#if selected}}
        <span class="glyphicon glyphicon-ok"></span>
      {{else}}
        <span class="glyphicon"></span>
      {{/if}}
      </span>
    </div>
  </div>
  <div class="panel-body">
    <span class="project-description">{{project.description}}</span>
  </div>
</article>
{{yield}}

