<div class="col-md-4">
  <article class="workflow-picker-detail-row panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
          <label for="{{concat elementId '-radio' }}" class="workflow-name">{{workflow.name}}</label>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 radio vertical-center">
            {{picker-radio-button id=(concat elementId '-radio') value=workflow name='selectedWorkflow' onChange=(action "pick")}}
          </div>
          <div class="col-xs-11">
            <span class="workflow-description">{{workflow.description}}</span>
            <span class="workflow-content">{{yield}}</span>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>