<div class="container-fluid">
  <h3>Job details (for debugging purposes)</h3>
  <ul>
    <li>Name: {{job.name}}</li>
    <li>Workflow Version ID: {{job.workflowVersion.id}}</li>
    <li>VM Flavor: {{job.vmFlavor}}</li>
    <li>VM Project: {{job.vmProjectName}}</li>
    <li>Input JSON: {{job.workflowInputJson}}</li>
    <li>Picked Files:
      <ul>
        {{#each pickedFiles as |file|}}
          <li>{{file.name}}</li>
        {{/each}}
      </ul>
    </li>
  </ul>
</div>

<p>Errors</p>
{{#each errors as |error|}}
  {{error}}
{{/each}}
{{yield}}
