{{#card-panel}}
    <div class="panel-heading">
        <label for="{{concat elementId '-radio' }}" class="jobs-workflow-version-card-title">
          {{workflowVersion.workflow.name}}
        </label>
      {{workflow-version-link workflowVersion=workflowVersion class="pull-right"}}
    </div>
    <div class="panel-body">
        <div class="radio">
            <label class="item-content">
              {{picker-radio-button id=(concat elementId '-radio') value=workflowVersion name='selectedItem' onChange=(action "pick")}}
              {{workflowVersion.description}}
            </label>
        </div>
        {{yield}}
    </div>
{{/card-panel}}

