<div class="panel panel-default">
    <div class="panel-heading workflow-version-details-title">
        <span>Version {{workflowVersion.version}} - Created: {{moment-format workflowVersion.created 'LL'}}</span>
        <span class="pull-right"><a href={{workflowVersion.url}}>Workflow File</a></span>
    </div>
    <div class="panel-body">
        {{markdown-to-html workflowMarkdown}}
        {{yield}}
    </div>
</div>
