<div class="panel panel-default">
  <div class="panel-heading workflow-version-details-title">
    <span class="lead">
      <span>Summary: {{versionTag}}</span>
      <span class="pull-right">
        <a class="workflow-version-detail-download-cwl-url" href="{{workflowVersion.url}}">Download Workflow</a>
      </span>
    </span>
  </div>
    <div class="panel-body">
      <p>Description: {{workflowVersion.description}}</p>
      <p>Released: {{moment-format workflowVersion.created 'LL'}}</p>
      {{#if workflowVersion.toolDetails}}
        <p>This workflow is composed of the tools and versions below:</p>
        {{workflow-version-tool-details-table workflowVersion.toolDetails}}
      {{/if}}
    </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">
      <span>Version History: {{versionTag}}</span>
      <span class="pull-right"><a href="{{workflowVersion.versionInfoUrl}}">Version Info</a></span>
    </span>
  </div>
  <div class="panel-body">
    {{markdown-to-html versionInfo.content}}
  </div>
</div>
