{{#bs-form as |form|}}
  {{yield}}
  {{#if isLoading}}
    <span class="form-control" disabled>
      {{#dds/dds-loading-indicator}}Loading Projects...{{/dds/dds-loading-indicator}}
    </span>
  {{else if isEmpty}}
    {{dds/dds-no-projects}}
  {{else}}
    {{#form.group class='select-project'}}
      {{dds/dds-project-picker projects project (action 'projectChanged')}}
  {{/form.group}}
  {{#form.group class='select-files'}}
    {{dds/dds-file-picker project selectedResources (action 'filePicked') formatSettings=formatSettings}}
  {{/form.group}}
  {{/if}}
{{/bs-form}}
