<div class="col-md-6 file-field-picker">
  <label>{{ fieldLabel }} from Duke Data Service</label>
  {{dds/dds-project-files-picker projects selectedDdsFiles (action 'setFile') formatSettings=formatSettings}}
</div>
<div class="col-md-6 file-field-selection">
  <label>Selected file</label>

  <div class="well well-sm">
    {{#if fileItem}}
      {{#dds/dds-resource-node fileItem action='remove'}}
        {{dds/dds-remove-button fileItem }}
      {{/dds/dds-resource-node}}
    {{else}}
      None
    {{/if}}
  </div>
  {{#if answerFormErrors.show}}
    {{error-panel errors=fieldErrors}}
  {{/if}}
</div>
{{yield}}
